.flex-grid {
    display: flex;
}
.flex-grid .col {
    flex: 1;
}
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}
  .flex-grid-thirds .col {
    width: 32%;
}
  
@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        };
    };
};

* {
    box-sizing: border-box;
  }
body {
    padding: 20px;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139));
}
.flex-grid { 
    margin: 0 0 20px 0;
}
.col {
    background: #e6eff6;
    padding: 20px;
}
.tablinks {
    background-color: #548999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .tab {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
  }

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    order: 4;
    justify-content: center;
    align-items: center;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
   /* Create an active/current tablink class */
   .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  #Home {
      display:inline;
  }

  .aboutPara {
    display: flex;
    flex-direction: row-reverse;
  }
  .aboutPara > .boredImage {
    vertical-align:top;
    flex: 1 0 0%;
    text-align:right;
  }
  .boredImage > img {
    display: block;
    max-width: 100%;
    max-height: 300px;
  }
  .aboutPara > .aboutText {
    flex: 2 0 0%;
    margin:auto 0;
    padding-left: 5px;
  }